# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Virtual environment
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Flask instance folder
instance/

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
